<link rel="stylesheet" href="/css/home.css" />

<!-- Our home page will be the page where we will creating our post -->
<div id="home_container">
  <section id="feed-post">
    <h4>Posts</h4>
    <!-- *Display this form to those only who is logged in  -->
    <% if(locals.user) {%>
    <form action="/posts/create" id="new-post-form" method="POST">
      <textarea
        name="content"
        cols="30"
        rows="3"
        required
        placeholder="Type here..."
      ></textarea>
      <input type="submit" value="Post" />
    </form>
    <%}%>

    <div id="post-lists-container">
      <ul>
        <% for(post of posts){ %> <%- include('_post') -%> <%}%>
      </ul>
    </div>
  </section>

  <section id="user-friends">
    <h4>Friends</h4>

    <% for(u of all_users){%>

    <p>
      <a href="/users/profile/<%= u.id %>"> <%= u.name %> </a>
    </p>

    <%}%>
  </section>
</div>
