#home_container {
  display: flex; }
  #home_container #feed-post {
    width: 70%;
    padding: 10px;
    background-color: darkcyan;
    color: white; }
  #home_container #user-friends {
    width: 30%;
    padding: 10px;
    border-left: 1px solid lightgray;
    height: 100vh;
    background-color: olivedrab;
    color: cyan; }
  #home_container a {
    text-decoration: none;
    color: white; }
